.tag {
  display: inline-block;
  padding: 3px 10px;
  font-size: .3rem;
  color: #cccccc;
  border: 1px solid #cccccc;
  border-radius: 20px;
  margin-right: 5px;

  &:hover {
    color: $baseColor;
    cursor: pointer;
    border: 1px solid $baseColor;
  }
}