//.card {
//  display: flex;
//  display: -webkit-flex;
//  display: -moz-flex;
//  justify-content: flex-start;
//  min-height: 160px;
//  background-color: #ffffff;
//  padding: .8rem;
//  margin-bottom: 8px;
//  border-radius: 5px;
//
//  &:hover {
//    cursor: pointer;
//    transition-duration: .4s;
//    -moz-transition-duration: .4s;
//    -webkit-transition-duration: .4s;
//    -webkit-box-shadow: 1px 3px 9px $baseFontColor;
//    -moz-box-shadow: 1px 3px 9px $baseFontColor;
//    box-shadow: 1px 3px 9px $baseFontColor;
//  }
//}

.post-card {
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 1 1 300px;
  flex: 1 1 300px;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow: hidden;
  margin: 0 20px 40px;
  min-height: 300px;
  background: #fff 50%;
  background-size: cover;
  border-radius: 5px;
  box-shadow: 8px 14px 38px rgba(39,44,49,.06), 1px 3px 8px rgba(39,44,49,.03);
  transition: all .5s ease;

  blockquote, dl, ol, p {
    margin: 1em 0 1.5em;
  }

  &:hover {
    box-shadow: 8px 28px 50px rgba(39,44,49,.07), 1px 6px 12px rgba(39,44,49,.04);
    transition: all .4s ease;
    transform: translate3D(0,-1px,0) scale(1.02);
    cursor: pointer;
  }
}

.post-card-image-link {
  position: relative;
  display: block;
  overflow: hidden;
  border-radius: 5px 5px 0 0;
  background-color: transparent;
}

.post-card-image {
  width: auto;
  height: 200px;
  background: #c5d2d9 no-repeat 50%;
  background-size: cover;
}

.post-card-content {
  -ms-flex-positive: 1;
  flex-grow: 1;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.post-card-content-link {
  position: relative;
  -ms-flex-positive: 1;
  flex-grow: 1;
  display: block;
  padding: 25px 25px 0;
  color: #15171a;
}

.post-card-excerpt{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 7;
  max-height: 132px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.post-card-meta {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: end;
  align-items: flex-end;
  padding: 0 25px 25px;
  line-height: 33px;
}

.tag-list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap-reverse;
  flex-wrap: wrap-reverse;
  margin: 0;
  padding: 0;
  list-style: none;
}



.reading-time {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-left: 20px;
  color: #738a94;
  font-size: 0.9rem;
  line-height: 33px;
  //font-weight: 500;
  letter-spacing: .5px;
  text-transform: uppercase;
}


.post-card:nth-child(6n+1):not(.no-image) {
  @media only screen and (min-width: 795px) {
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
    -ms-flex-direction: row;
    flex-direction: row;
    max-height: 300px;
  }
}

.post-card:nth-child(6n+1):not(.no-image) h2 {
  @media only screen and (min-width: 795px) {
    font-size: 1.6rem;
  }
}


.post-card:nth-child(6n+1):not(.no-image) p {
  @media only screen and (min-width: 795px) {
    font-size: 1.2rem;
    line-height: 1.55em;
  }
}

.post-card:nth-child(6n+1):not(.no-image) .post-card-image {
  @media only screen and (min-width: 795px) {
    position: absolute;
    width: 100%;
    height: 100%;
  }
}

.post-card:nth-child(6n+1):not(.no-image) .post-card-image-link {
  @media only screen and (min-width: 795px) {
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    border-radius: 5px 0 0 5px;
  }
}

.post-card:nth-child(6n+1):not(.no-image) .post-card-content {
  @media only screen and (min-width: 795px) {
    -ms-flex: 0 1 357px;
    flex: 0 1 357px;
  }
}

.post-card:nth-child(6n+1):not(.no-image) .post-card-content-link {
  @media only screen and (min-width: 795px) {
    padding: 30px 40px 0;
  }
}

.post-card:nth-child(6n+1):not(.no-image) .post-card-excerpt {
  @media only screen and (min-width: 795px) {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6;
    max-height: 190px;
  }
}


.post-card:nth-child(6n+1):not(.no-image) .post-card-meta {
  @media only screen and (min-width: 795px) {
    padding: 0 40px 30px;
  }
}

.card .thumb {
  width: 35%;
  max-width: 160px;
  overflow: hidden;
  align-items: center;
  img {
    width: 160px;
    max-height: 160px;
    transition: transform .6s linear;
  }

  &:hover {
    img {
      -webkit-transform: scale(1.1);
      -moz-transform: scale(1.1);
      -ms-transform: scale(1.1);
      -o-transform: scale(1.1);
      transform: scale(1.1);
    }
  }

  @media only screen and (max-width: 767px) {
    width: 0;
    display: none;
  }
}

.card .card-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 1.6rem;
  padding-top: 5px;
  width: 100%;
  @media only screen and (max-width: 767px) {
    width: 100%;
    padding-left: 0;
  }
}

.card-title {

  span {
    font-size: 1.4rem;
    color: #555;
    position: relative;
    padding-bottom: 2px;

    &:after{
      content: "";
      width: 0;
      height: 2px;
      background: $baseStressColor;
      position: absolute;
      top: 100%;
      left: 50%;
      transition-duration: .6s;
      -moz-transition-duration: .6s;
      -webkit-transition-duration: .6s;
    }
  }

  .title {
    text-align: center;
  }

  &:hover {
    cursor: pointer;
    span {
      transition-duration: .6s;
      -moz-transition-duration: .6s;
      -webkit-transition-duration: .6s;
      color: $baseStressColor;

      &:after {
        left: 0;
        width: 100%;
      }
    }
  }
}

.card-content {
  font-size: 15px;
  padding: 1rem 0;
  span {
    color: $baseFontColor;
  }
}


.card .card-tags {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  padding-top: .2rem;
  flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;

  span {
    margin-bottom: 2px;
  }
}

.card .card-info {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  justify-content: flex-start;
  font-size: 14px;
  color: #cccccc;
  padding-top: 1rem;

  i {
    padding-right: .8rem;

    svg {
      padding-right: 5px;
      margin-bottom: -2px;
    }
  }
}

.card-enter {
  opacity: 0.01;
  transform: translateY(4%);
}
.card-enter-active {
  opacity: 1;
  transform: translateY(0%);
  transition: all 600ms ease-out;
  -webkit-transition: all 600ms ease-out;
  -moz-transition: all 600ms ease-out;
}
.card-exit {
  opacity: 1;
  transform: scale(1.25);
}
.card-exit-active {
  opacity: 0;
  transform: scale(4);
  transition: all 600ms ease-in;
  -webkit-transition: all 600ms ease-in;
  -moz-transition: all 600ms ease-in;
}
