.modify-about-container {
  margin: 1rem auto !important;
  width: 100% !important;
  padding: 0 5rem 0 5rem !important;
  flex-flow: column;
  justify-content: space-around;

  .modify-about-button {
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    justify-content: space-between;
    line-height: 30px;
  }
}