.tags-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: stretch;
  align-items: stretch;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: -4.5rem !important;
  width: 100%;
}

.tags-banner {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 500px;

  .tags-banner-content {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    line-height: 500px;
    text-align: center;
    //background: linear-gradient(180deg,#107491,rgba(0,122,204,.05));

    .tags-banner-detail {
      -ms-flex-item-align: center;
      align-self: center;
      width: 100%;
      max-width: 60rem;
      padding: 1rem .75rem;

      .tags-banner-avatar {
        width: 120px;
        height: 120px;
        margin: 1rem auto;
        border-radius: 90px;
        display: block;
      }

      .tags-banner-type, .tags-typed-cursor {
        color: #ffffff;
        letter-spacing: 1px;
        font-size: 3.5rem;
        font-weight: 700;
        display: inline-block;

        @media only screen and (max-width: 768px) {
          font-size: 1rem;
          font-weight: 500;
        }
      }
    }
  }
}


.tags-list-container {
  padding: 40px 10% 0;
  min-height: 240px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.tags-content {
  padding: 1rem;
  border-radius: 5px;
  background: #fff;
  margin-top: -100px;
  min-height: 200px;

  h1 {
    margin: 1rem 0;
    color: $baseFontColor;
    font-size: 2rem;
  }

  .tag {
    margin: .8rem .8rem;
    padding: 8px 24px;
    font-size: 1rem;
    max-width: 200px;
    border-radius: 9px;

    &:hover{
      cursor: pointer;
    }
  }
}

