.add-blog {
  margin: 1rem auto !important;
  width: 100% !important;
  padding: 0 5rem 0 5rem !important;
  flex-flow: column;
  justify-content: space-around;

  .input-item {
    background-color: white;
    width: 100%;
  }

  input {
    width: auto;
  }

  .add-blog-tags {
    display: inline-flex;
    flex-flow: column;
  }
}

.add-blog .add-blog-title {
  input{
    width: 98%;
  }
}

textarea{
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  width: 100%;
}

.add-blog .add-blog-content{
  textarea{
    height: 40vh;
    font-size: 1rem;
  }
}

.add-blog .add-blog-summary{
  textarea {
    min-height: 40px;
  }

  .summary-text  {
    font-size: .9rem;
  }
}

.add-blog-button {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  justify-content: space-between;
  align-items: self-start;
  line-height: 30px;
}
.error-msg{
  height: 20px;
  color: red;
  font-size: .8rem;
}
.success-msg{
  height: 20px;
  color: green;
  font-size: .8rem;
}