.bar-toc {
  color: $baseFontColor;
  line-height: 1.8rem;
  font-size: 1rem;
  //height: 100%;
  .toc-list {
    position: relative;
    overflow: hidden;
  }
  .toc-list-item a {
    text-decoration: none;
  }

  .is-active-li > a {
    color: $baseStressColor;
  }
}

//.bar-toc>.toc-list{
//  position: fixed;
//  top: 300px;
//}
