.prettyprint {
  position: relative;
  overflow-y: hidden;
  overflow-x: auto;
}

pre.prettyprint {
  padding: 0 16px 6px 56px;
  background-color: #f6f8fa;
  border: none;
}


.pre-numbering {
  position: absolute;
  width: 48px;
  background-color: #eef0f4;
  top: 0;
  left: 0;
  margin: 0;
  padding: 8px 0;
  list-style: none;
  text-align: center;
  line-height: 3px;
  height: 100%;


}

.pre-numbering > li {
  padding: 0 4px;
  list-style: none;
  margin: 0;
  font-size: 12px;
  line-height: 22px;
  color: #6a737d;
}
