.not-found-container {
  flex-flow: column;
  align-items: center;
}

.not-found{
  font-size: 8rem;
  font-weight: 700;
  color: #cccccc;
}

.not-found-text{
  font-size: 2rem;
  font-weight: 700;
  color: #cccccc;
}