.article-form {
  margin: 1rem auto !important;
  width: 100% !important;
  padding: 0 5rem 0 5rem !important;
  flex-flow: column;
  justify-content: space-around;

  .input-item {
    background-color: white;
    width: 100%;
  }

  input {
    width: 100%;
  }

  .article-form-tags {
    display: inline-flex;
    flex-flow: column;

    input{
      width: auto;
    }
  }
}

.article-form .article-form-title {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  justify-content: space-around;
  span{
    width: 50px;
  }

  .input-item{
    height: 37%;
    width: 90%;
  }

  .article-form-cover-img {
    width: 100px;
    height: 100px;
  }

  .blog-cover-img, .cover-img-change, .blog-title{
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    justify-content: space-around;
  }

  .blog-title{
    width: 60%;
    justify-content: flex-start;
  }

  .blog-cover-img {
    width: 40%;
  }
  .blog-cover-img .cover-img-change{
    flex-flow: column;
    justify-content: space-around;
    width: 40%;
  }
}

textarea{
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  width: 100%;
}

.article-form .article-form-content{
  textarea{
    height: 40vh;
    font-size: 1rem;
  }
}

.article-form .article-form-summary{
  textarea {
    min-height: 40px;
  }

  .summary-text  {
    font-size: .9rem;
  }
}
.blog-img-file{
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  justify-content: space-between;
}

.blog-file-path{
  font-size: .8rem;
  color: $baseStressColor;
  width: 50%;
}

.article-form-button {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  justify-content: space-between;
  align-items: self-start;
  line-height: 30px;
}
.error-msg{
  height: 20px;
  color: $baseStressColor;
  font-size: .8rem;
}
.success-msg{
  height: 20px;
  color: green;
  font-size: .8rem;
}

.ant-btn {
  background: $baseColor;
}