.bottom-out{
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  justify-content: center;
  margin-top: 2rem;
}

.bottom-out-text{
  font-size: .9rem;
  color: rgba(143, 143, 143, 0.42);
}