.articles-container {
  max-width: 1024px;
  margin: 0 auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-align: stretch;
  align-items: stretch;
  width: 90%;

  .tag-name {
    color: $baseFontColor;
    margin-bottom: 1rem;
    font-size: 1.6rem;
  }

  @media only screen and (max-width: 768px) {
    width: 96%;
  }
}
