.card-appear {
  opacity: 0;
}

.card-appear.card-appear-active {
  opacity: 1;
  transition: all .6s ease-in-out;
  -webkit-transition: all .6s ease-in-out;
  -moz-transition: all .6s ease-in-out;
}

.card {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  justify-content: flex-start;
  min-height: 120px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 34, 77, .05);
  -moz-box-shadow: 0 1px 3px 0 rgba(0, 34, 77, .05);
  box-shadow: 0 1px 3px 0 rgba(0, 34, 77, .05);
  padding: .6rem;
  margin-bottom: 2%;
  border-radius: 2px;

  @media only screen and (max-width: 767px) {
   border-radius: 4px;
  }

  &:hover {
    transition-duration: .4s;
    -moz-transition-duration: .4s;
    -webkit-transition-duration: .4s;
    cursor: pointer;
    -webkit-box-shadow: 6px 6px 10px 6px rgba(0, 34, 77, .05);
    -moz-box-shadow: 6px 6px 10px 6px rgba(0, 24, 54, 0.05);
    box-shadow: 6px 6px 10px 6px rgba(0, 34, 77, .05);

    .thumb img {
      -webkit-transform: scale(1.1);
      -moz-transform: scale(1.1);
      -ms-transform: scale(1.1);
      -o-transform: scale(1.1);
      transform: scale(1.1);
    }
  }

}

.card .thumb {
  width: 35%;
  max-width: 120px;
  overflow: hidden;
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  flex-direction: row;
  align-items: center;
  img {
    width: 120px;
    max-height: 120px;
    transition: transform .3s linear;
  }

  @media only screen and (max-width: 767px) {
    width: 0;
    display: none;
  }
}

.card .card-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 2%;
  padding-top: 5px;
  width: 100%;
  @media only screen and (max-width: 767px) {
    width: 100%;
  }
}

.card-title {
  span {
    font-weight: bold;
    font-size: 1.2rem;
    color: #555;
  }
  &:hover {
    span {
      transition-duration: .6s;
      -moz-transition-duration: .6s;
      -webkit-transition-duration: .6s;
      color: $baseStressColor;
    }

  }
}

.card-content {
  font-size: 12px;
  span {
    color: #a8a8a8;
  }
}

.card .card-info {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  justify-content: space-between;
  border-top: 1px solid #cccccc;
  padding-top: .2rem;

  .card-tail {
    width: 30%;
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    justify-content: flex-end;

    @media only screen and (max-width: 400px) {
      width: 0;
      display: none;
    }

  }

  .card-tail .card-date {
    display: inline-block;
    line-height: 1.8rem;
    font-size: 14px;
    color: #cccccc;

    @media only screen and (max-width: 767px) {
      font-size: 12px;
    }

    @media only screen and (min-width: 768px ) and (max-width: 895px) {
     font-size: 12px;
    }
  }
}

//.card-enter {
//  opacity: 0;
//  transform: translate(0, 10%);
//}
//
//.card-enter.card-enter-active {
//  opacity: 1;
//  transition: opacity 2s  ease-in-out;
//  -webkit-transition: opacity 2s  ease-in-out;
//  -moz-transition: opacity 2s  ease-in-out;
//}
//
//.card-leave {
//  opacity: 1;
//  transform: translate(0, 0);
//}
//
//.card-leave.card-leave-active {
//  opacity: 0.01;
//  transform: translate(1%, 0);
//  transition: opacity 500ms linear;
//}
