.article {
  width: 70%;
  background-color: white;
  padding: 2%;
  border-radius: 2px;
  color: #444;

  section {
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    flex-direction: column;
    height: 100%;
  }

  .article-title {
    flex: 0 0 auto;
  }

  h1 {
    font-size: 2.2rem;
  }

  .article-content {
    margin-top: 1.6rem;
    flex: 1 0 auto;
    font-size: 1.1rem;
  }

  .article-tags {
    flex: 0 0 auto;
  }

  @media only screen and (max-width: 768px) {
    width: 100%;
  }
}

.right-side-bar {
  width: 28%;
  margin-left: 2%;

  @media only screen and (max-width: 768px) {
    width: 0;
    display: none;
  }
}

.article-date{
  color: #b8b8b8;
  font-size: .9rem;
  margin-top: .6rem;
}

.article-enter {
  opacity: 0.01;
  transform: translateY(-2%);
}
.article-enter-active {
  opacity: 1;
  transform: translateY(0%);
  transition: all 300ms ease-out;
}
.article-exit {
  opacity: 1;
  transform: scale(1.25);
}
.article-exit-active {
  opacity: 0;
  transform: scale(4);
  transition: all 300ms ease-in;
}

