.article {
  width: 70%;
  background-color: white;
  padding: 2%;

  @media only screen and (max-width: 768px) {
    width: 100%;
  }
}

.right-side-bar {
  width: 28%;
  margin-left: 2%;

  @media only screen and (max-width: 768px) {
    width: 0;
    display: none;
  }
}

.article-date{
  color: #b8b8b8;
  font-size: .8rem;
}

.article-appear {
  opacity: 0;
}

.article-appear.article-appear-active {
  opacity: 1;
  transition: all 2s ease-in-out;
  -webkit-transition: all 2s ease-in-out;
  -moz-transition: all 2s ease-in-out;
}
