.article {
  width: 70%;
  background-color: white;
  padding: 2%;

  @media only screen and (max-width: 768px) {
    width: 100%;
  }
}

.menu {
  width: 28%;
  margin-left: 2%;

  @media only screen and (max-width: 768px) {
    width: 0;
    display: none;
  }
}

.article-date{
  color: #b8b8b8;
  font-size: .8rem;
}
