* { touch-action: pan-y; }
#pageContain {
  overflow: hidden;
}

.page {
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.contain {
  width: 100%;
  height: 100%;
  display: none;
  position: relative;
  z-index: 0;
}

.current .contain, .slide .contain {
  display: block;
}

.current {
  display: block;
  z-index: 1;
}

.slide {
  display: block;
  z-index: 2;
}

.swipe {
  display: block;
  z-index: 3;
  transition-duration: 0ms !important;
  -webkit-transition-duration: 0ms !important;
}

.page1 {
  background: #37c1e3;
}

.page2 {
  background: #009922;
}