//#EFDC05 #E53A40 #090707
* {
  margin: 0;
  padding: 0;
}

html, body{
  height: 100%;
}

body {
  font-size: 12px;
  font-family: -apple-system,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Helvetica Neue,Arial,sans-serif;
  background: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%) fixed center top;
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  flex-direction: column;
  text-rendering: optimizeLegibility;
}

.container {
  flex: 1 0 auto;
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  background-size: cover;
  margin: 4.5rem auto;
  width: 100%;
  //background: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%) fixed center top;

}

a {
  text-decoration: none;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

ul>li, ol>li {
  list-style: none;
}

li {
  word-wrap: break-word;
}

#root {
  height: 100%;
}

.app {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  height: 100%;
  flex-direction: column;
  position: relative;
}


