$baseColor: #E53A40;
$lightColor:#A5DFF9;
$baseStressColor: #E53A40;
$baseFontColor: #555555;
$baseBorderColor: #cccccc;
$loadingColor: #b8babb;
//$tagColor: #f07c82;
$tagColor: linear-gradient( 135deg, #CE9FFC 10%, #7367F0 100%);