.modify-card-wrap {
  display: flex;
  display: -moz-flex;
  display: -webkit-flex;
  height: 60px;
  background-color: white;
  margin: .5rem;
  padding: .5rem;
  justify-content: space-between;
  border-radius: 4px;
}

.modify-card-info-wrap{
  display: flex;
  display: -moz-flex;
  display: -webkit-flex;
  flex-flow: column;
  justify-content: space-around;
  width: 40%;
  span{
    font-size: 1rem;
  }

  .modify-card-info {
    font-size: .8rem;
    color: #cccccc;
  }
}

.modify-card-status-wrap {
  display: flex;
  display: -moz-flex;
  display: -webkit-flex;
  align-items: center;
  .modify-card-info {
    font-size: .8rem;
    color: #cccccc;
  }
}


.modify-card-btn-wrap {
  display: flex;
  display: -moz-flex;
  display: -webkit-flex;
  justify-content: space-between;
  align-items: center;
  width: 30%;
  line-height: 60px;
  button {
    width: 80px;
    max-height: 40px;
    min-width: 80px;

    &:hover {
      cursor: pointer;
      background-color: $baseStressColor;
    }
  }
}
