.header{
  flex: 0 0 auto;
  width: 100%;
  height: 52px;
  line-height: 52px;
  background-color: #ffffff;
  border-bottom: 1px solid rgba(30,35,42,.06);
  -webkit-box-shadow: 0 1px 3px 0 rgba(0,34,77,.05);
  box-shadow: 0 1px 3px 0 rgba(0,34,77,.05);
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  justify-content: space-between;
  z-index: 101;
  position: fixed;
  top: 0;
  overflow: hidden;
}

.header-scroll{
  filter:alpha(opacity=60);
  -moz-opacity:0.6;
  -khtml-opacity: 0.6;
  opacity: 0.6;
}

.header-content{
  display: flex;
  display: -webkit-flex;
  width: 80%;
  max-width: 1024px;
  margin: 0 auto;
  justify-content: space-between;

  a {
    text-decoration: none;
    color: #444;
    transition-duration: .6s;
    -moz-transition-duration: .6s;
    -webkit-transition-duration: .6s;

    svg {
      height: 52px;
      width: 20px;
    }

  }

  @media only screen and (max-width: 768px) {
    width: 96%;
  }
}

.header-content .header-menu, .header-content .article-header  {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  min-width: 200px;
  height: 52px;
  justify-content: space-around;
  transition: transform .3s;
  -webkit-transition: -webkit-transform .3s;
  -moz-transition: transform .3s, -moz-transform .3s;

  .header-path-link:not(:first-child) {
    margin-left: 2rem;
  }

  .active a{
    color: $baseStressColor;
  }
}

.header-content .header-menu {
  @media only screen and (max-width: 767px) {
    display: none;
  }
}

.signature{
  background: none;
  border: none;
  color: $baseColor;
  font-size: 1.2rem;
  outline: none;
  z-index: 9999;
  transition-duration: .6s;
  -moz-transition-duration: .6s;
  -webkit-transition-duration: .6s;

  &:hover{
    cursor: pointer;
    color: $baseStressColor;
  }
}

.header-contact{
  display: flex;
  display: -webkit-flex;
  width: 70px;
  justify-content: space-between;

  a{
    display: inherit;
  }

  @media only screen and (max-width: 767px) {
    width: 0;
    display: none;
  }
}

.header-hidden {
  display: none;
}

.header-path-link {
  background: none;
  border: none;
  color: #444;
  font-size: 1.1rem;
  outline: none;
  transition-duration: .6s;
  -moz-transition-duration: .6s;
  -webkit-transition-duration: .6s;

  &:hover, a:hover {
    cursor: pointer;
    color: $baseStressColor;
  }
}

.header .header-content {
  .article-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    .article-header-title {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      cursor: pointer;
      margin-top: 2px;
      font-size: 30px;
      font-weight: 600;
      min-width: 200px;
      line-height: 52px;
      color: #444;
      text-align: center;
    }
  }

  .article-header:not(.is-shown) {
    -webkit-transform: translateY(100%);
    transform: translateY(100%)
  }

  .header-link.is-hidden {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
}



.menu-ctrl {
  cursor: pointer;
  display: none;
  padding: 0 10px 0 10px;
  z-index: 9999;

  @media only screen and (max-width: 767px) {
    display: inline-block;
  }
}

.menu-ctrl-on {
  .icon-menu.cross:before {
    -webkit-transform-origin: 100% 50%;
    -ms-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    background: $baseStressColor;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  .icon-menu.cross .middle {
    opacity:0;
  }

  .icon-menu.cross:after {
    -webkit-transform-origin: 100% 50%;
    -ms-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    background: $baseStressColor;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}

.icon-menu {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 28px;
  top: 8px;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;

  .middle {
    position: absolute;
    top: 50%;
    display: inline-block;
    width: 22px;
    height: 2px;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
    background: $baseFontColor;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  &:before, &:after {
    position: absolute;
    width: 22px;
    height: 2px;
    content: '';
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
    background: $baseFontColor;
  }

  &:before {
    top: 5px;
  }

  &:after {
    bottom: 5px;
  }
}

.header-nav-menu {
  position: fixed;
  left: 0;
  z-index: 9999;
  padding: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, .98);
  text-align: center;
  -webkit-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  transform-origin: 50% 0;
  height: 0;
  overflow: hidden;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;

  .header-nav-main {
    margin-top: 52px;
  }
}

.header-nav-menu-show {
  @media only screen and (max-width: 767px) {
    height: 101%;


    .nav-item {
      border-bottom: 1px solid #efefef;
      line-height: 60px;
      width: 90%;
      margin: 0 auto;
    }
  }
}
