.loader {
  display: -webkit-flex; /*safari弹性布局*/
  display: -moz-flex;
  justify-content: center;
  display: flex;
  align-items: center;
  flex: 1 0 auto;
}
@-webkit-keyframes loader9 {
  0% {
    -webkit-transform: scale(0.3);
    opacity: 0.4;
  }
  50% {
    -webkit-transform: scale(0.7);
    opacity: 0.8;
  }
  60% {
    -webkit-transform: scale(0.8);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.2);
    opacity: 1;
  }
}
.loader-nine {
  position: relative;
}
.loader-nine div {
  width: 10px;
  height: 10px;
  background: $loadingColor;
  position: absolute;
  border-radius: 50%;
  margin: 0 auto;
}
.loader-nine div:nth-child(1) {
  top: -30px;
  left: 0;
  -webkit-animation: loader9 0.5s -0.4s infinite linear;
}
.loader-nine div:nth-child(2) {
  top: -20px;
  left: 20px;
  -webkit-animation: loader9 0.5s -0.35s infinite linear;
}
.loader-nine div:nth-child(3) {
  top: 0;
  left: 30px;
  -webkit-animation: loader9 0.5s -0.30s infinite linear;
}
.loader-nine div:nth-child(4) {
  top: 20px;
  left: 20px;
  -webkit-animation: loader9 0.5s -0.25s infinite linear;
}
.loader-nine div:nth-child(5) {
  top: 30px;
  left: 0;
  -webkit-animation: loader9 0.5s -0.2s infinite linear;
}
.loader-nine div:nth-child(6) {
  top: 20px;
  left: -20px;
  -webkit-animation: loader9 0.5s -0.15s infinite linear;
}
.loader-nine div:nth-child(7) {
  top: 0;
  left: -30px;
  -webkit-animation: loader9 0.5s -0.1s infinite linear;
}
.loader-nine div:nth-child(8) {
  top: -20px;
  left: -20px;
  -webkit-animation: loader9 0.5s 0s infinite linear;
}
