.achieves {
  width: 90%;
  max-width: 1024px;
  height: auto;
  margin: 4.5rem auto;
  background-color: #ffffff;
  border-radius: 6px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.31);
  overflow: hidden;
  z-index: 1;
  box-sizing: border-box;

  h1.tag-name {
    color: $baseFontColor;
    margin-bottom: 1rem;
    font-size: 1.6rem;
  }

  @media only screen and (max-width: 768px) {
    width: 100%;
  }
}

.achieves .achieve {
  padding-bottom: 1rem;

  .achieve-items {
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    min-height: 2rem;
    line-height: 2rem;
    .achieve-date {
      font-size: 1rem;
      color: #a1a1a1;
      width: 40%;
      max-width: 7rem;
      min-width: 7rem;
    }
  }

  h1 {
    font-size: 2rem;
    padding: 1rem 2rem;
    color: $baseColor;
  }

  p {
    padding: 5px 0 5px 3rem;
    font-size: 1.1rem;
  }

  a {
    text-decoration: none;
    color: $baseFontColor;
    word-break: break-word;
    transition-duration: .4s;
    -moz-transition-duration: .4s;
    -webkit-transition-duration: .4s;
    &:hover {
      color: $baseStressColor;
    }
  }

  @media only screen and (max-width: 468px) {
    h1 {
      padding: 1rem 0;
    }

    p {
      padding: 5px 0 0;
    }
  }
}
