.publish {
  margin: 1rem auto !important;
  width: 100% !important;
  padding: 0 5rem 0 5rem !important;
  flex-flow: column;
  justify-content: space-around;

  .input-item {
    background-color: white;
    width: 100%;
  }

  input {
    width: 98%;
  }

  .publish-tags {
    display: inline-flex;
    flex-flow: column;
  }
}
textarea{
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  width: 100%;
}

.publish .publish-content{
  textarea{
    height: 40vh;
  }
}

.publish .publish-summary{
  textarea {
    height: 40px;
  }

  .summary-text  {
    font-size: 1.2rem;
  }
}

.publish-button {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  justify-content: space-between;
  align-items: self-start;
  line-height: 30px;
}
.error-msg{
  height: 20px;
  color: red;
  font-size: .8rem;
}
.success-msg{
  height: 20px;
  color: green;
  font-size: .8rem;
}