.right-side-bar {
  .side-bar-name {
    margin-bottom: 10px;
    width: 100%;
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    justify-content: center;
    h1 {
      width: 200px;
      color: $baseFontColor;
      font-size: 1rem;
      font-weight: 400;
    }
  }
  box-sizing: border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  width: 30%;
  @media only screen and (max-width: 768px) {
    width: 0;
    display: none;
  }
}