.side-bar {
  display: flex;
  display: -webkit-flex;
  justify-content: flex-start;
  min-height: 200px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0,34,77,.05);
  box-shadow: 0 1px 3px 0 rgba(0,34,77,.05);
  padding: 10px;

}