.tag {
  display: inline-block;
  padding: 1px 6px;
  max-width: 77px;
  font-size: 12px;
  color: #ffffff;
  border: 1px solid $tagColor;
  background: $tagColor;
  border-radius: 10px;
  margin-right: 5px;
  height: 1rem;
  line-height: 1rem;
  transition-duration: 1s;
  -moz-transition-duration: 1s;
  -webkit-transition-duration: 1s;

  svg {
    margin-bottom: -2px;
  }

}

.color1 {
  background: #C2E9FB;
}

.color2 {
  background: #A1C4FD;
}

.color3 {
  background: #FDCBF1;
}

.color4 {
  background: #FFECD2;
}

.color5 {
  background: #FCB69F;
}
.color6 {
  background: #16D9E3;
}
.color7 {
  background: #46AEF7;
}
.color8 {
  background: #ACCBEE;
}
.color9 {
  background: #C9CCD3;
}
.color10 {
  background: #E3EEFF;
}

.color11 {
  background: #64B3F4;
}

.color12 {
  background: #9BE15D;
}

.color13 {
  background: #b3ffab;
}

.color14{
  background: #fc6076;
}

.color15{
  background:#7DE2FC;
}