.tag {
  display: inline-block;
  padding: 1px 6px;
  max-width: 77px;
  font-size: 12px;
  color: #ffffff;
  border: 1px solid $tagColor;
  background: $tagColor;
  border-radius: 10px;
  margin-right: 5px;
  height: 1rem;
  line-height: 1rem;
  transition-duration: 1s;
  -moz-transition-duration: 1s;
  -webkit-transition-duration: 1s;

  svg {
    margin-bottom: -2px;
  }

  //&:hover {
  //  transition-duration: .6s;
  //  -moz-transition-duration: .6s;
  //  -webkit-transition-duration: .6s;
  //  color: $tagColor;
  //  background: #ffffff;
  //  cursor: pointer;
  //}
}