.input-item{
  border: 1px solid #cccccc;
  border-radius: 4px;
  padding: 2px;

  &:hover{
    border: 1px solid #bfbfbf;
  }

  input {
    height: 25px;
    width: 260px;
    padding: 3px;
    background: transparent;
    border: none;
    outline: none;
    resize: none;
    font-size: 1.2rem;
    font-weight: lighter;
  }
}


