.login-container {
  margin: 10rem auto !important;
  justify-content: center;
}

.login-panel{
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  flex-direction: column;
  justify-content: space-around;
  max-width: 450px;
  max-height: 320px;
  background-color: #ffffff;
  -webkit-box-shadow: 12px 12px 24px 12px rgba(0, 32, 66, 0.05);
  -moz-box-shadow: 12px 12px 24px 12px rgba(0, 32, 66, 0.05);
  box-shadow: 12px 12px 24px 12px rgba(0, 32, 66, 0.05);
  padding:2rem 6rem 3rem 6rem;
  border-radius: 6px;
  height: 240px;

  input {
    width: 100%;
  }

  p{
    margin: 0 auto;
    font-size: 2rem;
    font-weight: bold;
  }
}

.login-panel .login-button  {
  button {
    height: 35px;
    width: 100%;
    font-size: 1.2rem;
  }
}

.error-msg{
  height: 20px;
  color: red;
  font-size: .8rem;
}