.card {
  display: flex;
  display: -webkit-flex;
  justify-content: flex-start;
  min-height: 120px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 34, 77, .05);
  box-shadow: 0 1px 3px 0 rgba(0, 34, 77, .05);
  padding: 10px;
  margin-bottom: 2%;

  &:hover {
    //transition-delay: .2s;
    //-webkit-transition-delay: .2s;
    //-moz-transition-delay: .2s;
    transition-duration: .4s;
    -moz-transition-duration: .4s;
    -webkit-transition-duration: .4s;
    cursor: pointer;
    -webkit-box-shadow: 6px 6px 10px 6px rgba(0, 34, 77, .05);
    -moz-box-shadow: 6px 6px 10px 6px rgba(0, 24, 54, 0.05);
    box-shadow: 6px 6px 10px 6px rgba(0, 34, 77, .05);

    .thumb img{
      -webkit-transform: scale(1.1);
      -moz-transform: scale(1.1);
      -ms-transform: scale(1.1);
      -o-transform: scale(1.1);
      transform: scale(1.1);
    }
  }

}

.card .thumb {
  width: 20%;
  max-width: 120px;
  overflow: hidden;

  img {
    width: 120px;
    max-height: 120px;
    transition: transform .3s linear;
  }

  @media only screen and (max-width: 767px) {
    width: 0;
    display: none;
  }
}

.card .card-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 25px;
  padding-bottom: 5px;
  padding-top: 5px;
  width: 100%;
  @media only screen and (max-width: 767px) {
    width: 100%;
  }
}

.card-title{
  span {
    font-weight: bold;
    font-size: 1.2rem;
    color: $baseColor;
  }
  &:hover {
    span {
      transition-duration: .6s;
      -moz-transition-duration: .6s;
      -webkit-transition-duration: .6s;
      color: $baseStressColor;
    }

  }
}

.card-content{
  font-size: 12px;
  span {
    color: #a8a8a8;
  }
}

.card .card-info {
  display: flex;
  justify-content: space-between;

  .card-date {
    line-height: 1.8rem;
    font-size: 14px;
    color: #cccccc;
    width: 7.5rem;
  }

}