.card {
  display: flex;
  display: -webkit-flex;
  justify-content: flex-start;
  min-height: 120px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 34, 77, .05);
  box-shadow: 0 1px 3px 0 rgba(0, 34, 77, .05);
  padding: 10px;
  margin-bottom: 2%;

  &:hover {
    cursor: pointer;
    -webkit-box-shadow: 4px 4px 8px 4px rgba(0, 34, 77, .05);
    box-shadow: 4px 4px 8px 4px rgba(0, 34, 77, .05);
  }

}

.card .card-coverImg {
  width: 20%;
  max-width: 120px;

  img {
    width: 120px;
    max-height: 120px;
  }

  @media only screen and (max-width: 767px) {
    width: 0;
    display: none;
  }
}

.card .card-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 25px;
  padding-bottom: 5px;
  padding-top: 5px;
  width: 100%;
  @media only screen and (max-width: 767px) {
    width: 100%;
  }
}

.card-title{
  span {
    font-weight: bold;
    font-size: 1.2rem;
    color: #0f88eb;

    &:hover {
      color: #d32f2f;;
    }
  }

}

.card-content{
  font-size: 12px;
  span {
    color: #a8a8a8;
  }
}

.card .card-info {
  display: flex;
  justify-content: space-between;

  .card-date {
    line-height: 1.8rem;
    font-size: 14px;
    color: #cccccc;
    width: 7.5rem;
  }

}