.about-container {
  padding: 1.6rem;
  width: 90%;
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 5px;
  //box-shadow: 0 5px 20px rgba(0, 0, 0, 0.31);
  overflow: hidden;
  z-index: 1;
  box-sizing: border-box;
  &:before {
    position: absolute;
    top: 0;
    left: 0;
    -webkit-filter: blur(20px);
    -moz-filter: blur(20px);
    -ms-filter: blur(20px);
    -o-filter: blur(20px);
    filter: blur(20px);
    background-size: cover;
    background: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%) fixed center top;
    background-repeat: inherit;
    background-color: inherit;
    z-index: -3;
  }

  .avatar, .about-info {
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  @media only screen and (max-width: 768px) {
    width: 96%;
  }

}

.about-container .about-info{
  justify-content: flex-start;
  section {
    width: 100%;
  }
  section h2 {
    line-height: 2em;
    border-bottom: 1px solid #e0e0e0;
    font-size: 1.4rem;
    margin: 0 auto;
    .title {
      color: $baseStressColor;
    }
  }

  section p {
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    justify-content: space-around;
    -webkit-justify-content: space-around;
    flex-wrap: wrap;
    margin: .5rem auto;
    line-height: 1.8rem;

    @media only screen and (max-width: 600px) {
      .info:first-child {
        margin-bottom: .5rem;
      }
    }
  }
}

.about-container .about-info {
  .about-info-statement, .about-info-about, .about-info-blog, .about-info-skills, .about-info-contact {

    h2 + p, h2 + ul {
      padding-top:1rem;
    }

    li {
      font-size: 1rem;
      color: #555;
      margin-bottom: 1rem;

      @media only screen and (max-width: 425px) {
        font-size: .8rem;
      }
    }

    .skills-title {
      text-align: left;
      -webkit-box-flex: 0;
      -ms-flex-positive: 0;
      flex-grow: 0;
      -ms-flex-negative: 0;
      flex-shrink: 0;
      -ms-flex-preferred-size: 25%;
      flex-basis: 6rem;
      padding-right: 20px;
      font-weight: 700;
      font-size: 1rem;
    }

    .skills-detail {
      text-align: left;
      font-size: 14px;
    }

    .quote-content {
      color: $baseStressColor;
    }

  }
}

.skills li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bout-info-contact {
  z-index:999;
}
