.avatar {
  align-self: center;
  width: 100%;
  max-width: 60rem;
  padding: .5rem;
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;

  img {
    width: 120px;
    height: 120px;
    margin: 0 auto;
    border-radius: 90px;
  }
}