.avatar {
  align-self: center;
  max-width: 60rem;
  padding: .3rem;
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  flex-wrap: nowrap;

  img {
    width: 80px;
    height: 80px;
    margin: 0 auto;
    border-radius: 90px;
  }

}