//#EFDC05 #E53A40 #090707
* {
  margin: 0;
  padding: 0;
}

html, body{
  height: 100%;
}

body {
  font-size: 12px;
  font-size: 1.2rem;
  font-family: 'Arial','Microsoft YaHei','黑体','宋体', 'Helvetica Neue', Open Sans,Source Sans Pro,Consolas,Menlo,DejaVu Sans Mono,monospace;
  background: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%) fixed center top;
}

.container {
  flex: 1 0 auto;
  margin: 4.5rem auto;
  width: 80%;
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  position: relative;
  background-size: cover;
  //background: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%) fixed center top;

  @media only screen and (max-width: 768px) {
    width: 96%;
  }
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

#root {
  height: 100%;
}

.app {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  height: 100%;
  flex-direction: column;
}

// markdown 样式
.markdown-body, .editor-preview-side {
  p, blockquote, ul, ol, dl, table, pre {
    margin: 1.2rem 0;
  }

  p {
    word-spacing:  .1rem;
    letter-spacing: .1rem;
    font-size: 1rem;
  }

  blockquote {
    padding: 0 1rem;
    color: #555555;
    border-left: 0.2rem solid $baseStressColor;

    &:first-child p{
      font-weight: bold;
    }
  }

  table {
    display: block;
    width: 100%;
    overflow: auto;

    tr {
      background-color: #fff;
      border-top: 1px solid #c6cbd1;

      &:nth-child(2n) {
        background-color: #f6f8fa;
      }
    }

    th {
      font-weight: 600;
    }

    th, td {
      padding: 6px 13px;
      border: 1px solid #dfe2e5;
    }
  }

  tt, code, kbd, samp {
    font-family: monospace consolas ;
  }

  code {
    display: block;
    overflow-x: auto;
    padding: 1rem;
    color: #abb2bf;
    background: #282c34;
  }

  h1, h2, h3 {
    margin: 1.6rem 0 .8rem;
    padding-bottom: .7rem;
    border-bottom: 1px solid #ddd;
  }

  ul {
    padding-left: 1rem;
  }

  a {
    text-decoration: none;
    color: $baseFontColor;
  }
}

