$baseColor: #30A9DE;
$baseStressColor: #E53A40;
$baseFontColor: #090707;
//#EFDC05 #E53A40 #090707

body {
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-size: 1.2rem;
  font-family: sans-serif;
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}

.container {
  margin: 4rem auto;
  width: 80%;
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;

  @media only screen and (max-width: 768px) {
    width: 96%;
  }
}

