.header{
  flex: 0 0 auto;
  width: 100%;
  height: 52px;
  line-height: 52px;
  background-color: #ffffff;
  border-bottom: 1px solid rgba(30,35,42,.06);
  -webkit-box-shadow: 0 1px 3px 0 rgba(0,34,77,.05);
  box-shadow: 0 1px 3px 0 rgba(0,34,77,.05);
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  justify-content: space-between;
  z-index: 101;
  position: fixed;
  top: 0;
  overflow: hidden;
}

.header-scroll{
  filter:alpha(opacity=60);
  -moz-opacity:0.6;
  -khtml-opacity: 0.6;
  opacity: 0.6;
}

.header-content{
  display: flex;
  display: -webkit-flex;
  width: 80%;
  margin: 0 auto;
  justify-content: space-between;

  a {
    text-decoration: none;
    color: #444;
    font-size: 1rem;

    svg {
      height: 52px;
      width: 20px;
    }
  }
}

.header-content .header-link, .header-content .article-header  {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  min-width: 200px;
  height: 52px;
  justify-content: space-around;
  transition: transform .3s;
  -webkit-transition: -webkit-transform .3s;
  -moz-transition: transform .3s, -moz-transform .3s;

  .header-path-link:first-child {
    margin-right: 4%;
  }

  a {
    text-decoration: none;
    color: #444;
    font-size: 1.2rem;
  }

  .active a{
    color: $baseStressColor;
  }

  @media only screen and (max-width: 767px) {
    width: 100%;
  }
}


.header .header-content {
  .article-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    .article-header-title {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      cursor: pointer;
      margin-top: 2px;
      font-size: 30px;
      font-weight: 600;
      min-width: 200px;
      line-height: 52px;
      color: #444;
      text-align: center;
    }
  }

  .article-header:not(.is-shown) {
    -webkit-transform: translateY(100%);
    transform: translateY(100%)
  }

  .header-link.is-hidden {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
}


.signature{
    a {
      font-size: 1.6rem;
      color: $baseColor;
      text-decoration: none;

    &:hover{
      cursor: pointer;
      color: $baseStressColor;
    }
  }

  @media only screen and (max-width: 767px) {
    width: 0;
    display: none;
  }

}

.header-contact{
  display: flex;
  display: -webkit-flex;
  width: 70px;
  justify-content: space-between;


  a{
    display: inherit;
  }

  @media only screen and (max-width: 767px) {
    width: 0;
    display: none;
  }
}

.header-hidden {
  display: none;
}


