.article {
  width: 80%;
  background-color: #ffffff;
  padding: 2%;
  border-radius: 2px;
  color: #444;
  position: relative;
  box-sizing: border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  section {
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    flex-direction: column;
    height: 100%;
  }

  .article-title {
    flex: 0 0 auto;
    margin: 1rem 0;
    font-weight: bold;
  }

  .article-info{
    color: #858585;
    font-size: .8rem;
    span {
      margin-right: 1rem;

      svg {
        font-size: 1rem;
        margin-top: -4px;
      }
    }
  }

  h1 {
    font-size: 2.2rem;
    @media only screen and (max-width: 768px) {
      font-weight: 400;
    }
  }

  .article-content {
    margin-top: .6rem;
    flex: 1 0 auto;
    font-size: 15px;
  }


  @media only screen and (max-width: 768px) {
    width: 100%;
  }
}

.article-tags {
  flex: 0 0 auto;
  margin: 1.6rem 0 .8rem;
  padding-top: .7rem;
  border-top: 1px solid #ddd;
  width: 100%;
}

.article-enter {
  opacity: 0.01;
  transform: translateX(-2%);
}
.article-enter-active {
  opacity: 1;
  transform: translateX(0%);
  transition: all 600ms ease-out;
  -webkit-transition: all 600ms ease-out;
  -moz-transition: all 600ms ease-out;
}
.article-exit {
  opacity: 1;
  transform: scale(1.25);
}
.article-exit-active {
  opacity: 0;
  transform: scale(4);
  transition: all 600ms ease-in;
  -webkit-transition: all 600ms ease-in;
  -moz-transition: all 600ms ease-in;
}

.right-side-bar {
  box-sizing: border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  width: 30%;
  margin-left: 20px;
  @media only screen and (max-width: 768px) {
    width: 0;
    display: none;
  }
}