.article-container {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  background-size: cover;
  width: 100%;
  margin: 0 auto;
}
.article-outer {
  width: 100%;
}
.article {
  width: 100%;
  //max-width: 1024px;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 2% 13%;
  border-radius: 2px;
  color: #444;
  position: relative;
  box-sizing: border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  //z-index: 50;

  @media only screen and (max-width: 1024px) {
    padding: 2% 10%;
  }

  @media only screen and (max-width: 425px) {
    padding: 2%;
  }

  section {
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    flex-direction: column;
    height: 100%;
    width: 90%;
    margin: 0 auto;

    @media only screen and (max-width: 768px) {
      width: 100%;
    }
  }

  .article-info{
    color: #858585;
    font-size: .8rem;
    text-align: center;
    span {
      margin-right: 1rem;

      svg {
        font-size: 1rem;
        margin-bottom: -3px;
      }
    }
  }

  @media only screen and (max-width: 768px) {
    width: 100%;
  }
}


.article-header {
  margin: 0 auto;
  padding: 1vw 3vw 3vw;
  max-width: 1040px;
  text-align: center;
}

.article-header-meta {
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  color: #738a94;
  font-size: 1rem;
  text-transform: uppercase;
  border-bottom: 1px solid #ddd;
  margin-bottom: 1.6rem;
}


.article-time {
  color: #22202e;
  font-weight: 400;
  padding-bottom: 0;

  @media only screen and (max-width: 768px) {
    padding-top: 3px;
  }
}

.article-title {
  margin: 0;
  color: #22202e;
  font-size: 2.5rem;
  font-weight: 500;

  @media only screen and (max-width: 768px) {
    font-size: 1.4rem;
  }
}

.article-image {
  margin: 0px -10vw -245px;
  height: 400px;
  background: #c5d2d9 50%;
  background-size: cover;
  border-radius: 5px;
  //padding: 2% 10%;

   @media only screen and (max-width: 1170px) {
     //margin: 0 -4vw -100px;
     height: 300px;
     border-radius: 5px;

  }

  @media only screen and (max-width: 768px) {
    height: 300px;
    border-radius: 0;
    margin: 0px -10% -165px;
  }

  @media only screen and (max-width: 425px) {
    margin: 0px -5px -165px;
  }

}

.article-full-content {
  position: relative;
  padding: 40px 60px 0;
  border-radius: 5px;
  min-height: 240px;
  //line-height: 1.6em;
  background: #fff;
  @media only screen and (max-width: 768px) {
    padding: 20px 30px 0;
  }

  @media only screen and (max-width: 425px) {
    padding: 10px 10px 0;
  }
}

.article-content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-align: center;
  //max-width: 920px;
}


.article-tags {
  //flex: 0 0 auto;
  padding-bottom: .7rem;
  display: inline-block;
}
