.toc-link-bar{
  box-sizing: border-box;
  -moz-box-sizing:border-box; /* Firefox */
  -webkit-box-sizing:border-box; /* Safari */
  margin-left: 2%;
  width: 28%;
  @media only screen and (max-width: 1024px) {
    width: 0;
    display: none;
  }
}

.bar-toc {
  color: $baseFontColor;
  line-height: 1.8rem;
  font-size: 1rem;
  width: 100%;
  max-width: 260px;
  .toc-list {
    position: relative;
    overflow: hidden;
  }
  .toc-list-item a {
    display: block;
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  ul>li, ol>li {
    list-style: disc;
  }

  .is-active-li > a {
    color: $baseColor;
  }

  .toc-list {
    padding-left: 2rem;
  }

  .is-active-link {
    background-color: #ebedef;
  }
}

.toc-fixed {
  position: fixed;
  bottom: 20rem;
  left: 84%;
}

h1, h2, h3, h4, h5, h6 {
  outline: none;

  &::before {
    display: block;
    content: " ";
    height: 4rem;
    margin-top: -4rem;
    visibility: hidden;
  }
}