.interest {
  display: inline-block;
  padding: 5px 30px;
  font-size: .9rem;
  color: #555555;
  border: 1px solid #555555;

  &:hover {
    transition-duration: .6s;
    -moz-transition-duration: .6s;
    -webkit-transition-duration: .6s;
    cursor: pointer;
  }
}