.achieves {
  width: 80%;
  background-color: #ffffff;
  padding: 2rem;

  h1.tag-name {
    color: $baseFontColor;
    margin-bottom: 1rem;
    font-size: 1.6rem;
  }

  @media only screen and (max-width: 768px) {
    width: 100%;
  }
}
